<nav class="navbar navbar-inverse" ng-controller="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{settings.serverName}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-click="setEditMode(false)" ng-if="settings.editMode == true"><a><span class="glyphicon glyphicon-edit"> </span> View</a></li>
      <li ng-click="setEditMode(true)" ng-if="settings.editMode == false"><a><span class="glyphicon glyphicon-edit"> </span> Edit</a></li>
      


      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     
    </ul>
  </div>
</nav>

<!--<div ng-controller="navbar">
 

<div class="col-xs-4">
</div>

<div class="col-xs-4">
</div>

<div class="col-xs-4">

</div>

</div>-->