  <!--  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">{{serverName}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left" ng-controller="tabs">
            
            <!--Iterate from tabs array 
            <li ng-repeat="tab in tabs">
                <a  ng-click="clickTab(tab)">{{tab.name}}</a>
            </li>

            <li>
                <button type="button" class="btn btn-primary" ng-click="addTab()">+</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
-->


<div ng-controller="tabs">
  
    <uib-tabset active="active">      
      <!--Render each Tab-->
      <uib-tab index="$index + 1" ng-repeat="tab in tabs"  heading ="{{tab.name}}"  ng-click="clickTab(tab)">     
          
        <div class="tabHeader">          
          <h2>{{tab.name}}   
            <i  ng-if="settings.editMode == true" class="fa fa-edit" uib-tooltip="Edit Tab"></i>
          </h2>
        </div>
        <hr>   
                       
          <!-- Render each row in tab-->
            <div class="row" ng-repeat="row in tab.rows">
               <!-- Render each column in row-->
                <div class=".container-fluid" ng-repeat="col in row.cols">
                    <div class="col-xs-{{col.size}}">.col-xs-{{col.size}}</div>                    
                </div>
           </div>
           <!--At the end add a button for adding a new row-->
           <div class="col-xs-12"  ng-if="settings.editMode == true">

            <!--TAB CONTENT-->
            <div class="tabContent">
            </div>

              <!--Add Row Button-->
              <div class="text-center">         
                <input ng-model="defaultLayout">
                <button type="button" class="btn btn-default btn-sm" ng-click="addRow(tab, defaultLayout)"> <i class="fa fa-plus"></i> Add Row</button>          
                <i class="fa fa-question-circle"  uib-tooltip="Use Bootstrap layout separated by spaces. Examples: 6 6 | 2 2 4 6 | 4 4 4"></i>
              </div>
           </div>   
      </uib-tab>
      
      <!--Add Tab Button-->
      <button type="button" ng-if="settings.editMode == true" class="btn btn-default btn-sm" ng-click="addTab()">  <i class="fa fa-plus"></i> </button>
    </uib-tabset>

</div>

